@use "sass:color";
@use "../../shared/styles/settings/colors" as colors;

@keyframes flash {
  0%,
  50%,
  100% {
    background-color: color.adjust(colors.$color-teal-bright, $lightness: -30%);
  }

  25%,
  75% {
    background-color: white;
  }
}

.c-content-block__active {
  animation: flash 1s ease-in-out 2;
  background-color: inherit;
}

.content-block-sidebar-item--highlighted {
  border-color: colors.$color-teal-bright;
}

.content-block-sidebar__items-non-draggable {
  > .content-block-sidebar-item {
    margin: 1rem;
    background-color: #fff;
    display: block;
    position: relative;
  }
}
