@use "../../shared/styles/settings/colors" as colors;
@use "../../shared/styles/settings/variables" as variables;

.c-navigation-detail__nav-edit {
  li {
    align-items: center;
  }
}

.c-navigation-detail__nav-label {
  margin: 0 auto 0 (variables.$g-spacer-unit * 3);
}
