@use "../../../shared/styles/settings/variables" as variables;

.m-menu-edit-form {
  .c-button-toolbar {
    display: inline-flex;

    > .c-badge + .c-badge {
      margin-left: variables.$g-spacer-unit;
    }
  }

  .c-navigation-edit-form__warnings {
    padding-top: variables.$g-spacer-unit * 4.5;
  }
}
