@import "../../../shared/styles/settings/variables";

.m-menu-edit-form {
	.c-button-toolbar {
		display: inline-flex;

		> .c-badge + .c-badge {
			margin-left: $g-spacer-unit;
		}
	}

	.c-navigation-edit-form__warnings {
		padding-top: $g-spacer-unit * 4.5;
	}
}
