@use "./react-admin/modules/content-page/views/react-split-pane";

.o-app--admin__sidebar {
  overflow-y: auto;
  padding-bottom: 100px;
}

.c-modal__overlay {
  position: absolute;
  inset: 0;
  width: auto;
  height: auto;
  background-color: rgb(0 0 0 / 50%);
}
