@use "./react-admin/modules/content-page/views/react-split-pane";

.o-app--admin__sidebar {
  overflow-y: auto;
  padding-bottom: 100px;
}

.c-modal__overlay {
  position: absolute;
  inset: 0;
  width: auto;
  height: auto;
  background-color: rgb(0 0 0 / 50%);
}

.admin-app__navbar {
  height: 60px;
  background-color: #283d4e;
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;

  h1 {
	color: rgb(255 255 255 / 50%);
  }

  a {
	margin-left: 20px;
	padding: 8px 16px;
	background-color: transparent;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	height: 40px;
	margin-right: 10px;

	&:hover {
	  background-color: rgb(255 255 255 / 10%);
	}
  }
}
