@use "../../../shared/styles/settings/variables" as variables;
@use "../../../shared/styles/settings/colors" as colors;

.c-menu-content {
	background-color: variables.$g-base-background;
	color: variables.$g-text-color;
	padding: variables.$g-spacer-unit;
	box-shadow: 0 0 10px 0 rgba(colors.$color-gray-shadow, 0.7);


	.c-radio-group .c-radio {
		padding: variables.$g-spacer-unit variables.$g-spacer-unit * 4 variables.$g-spacer-unit variables.$g-spacer-unit;
	}

	.c-radio input[type="radio"] {
		margin: 0 variables.$g-spacer-unit 0 0;
	}
}
