@use "sass:math";
@import "../../../../shared/styles/settings/variables";

.c-block-image-text-background {
	width: 100%;
	height: auto;

	&.c-block-image-text-background--fill-screen {
		.c-block-image-text-background__page-wrapper {
			position: absolute;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.c-block-image-text-background__image-wrapper {
			width: 100%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&.c-block-image-text-background--left-screen {
		position: static;

		@media (max-width: $g-bp2) {
			display: flex;
			flex-direction: column-reverse;
		}

		.c-block-image-text-background__page-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.c-block-image-text-background__column-text {
				grid-column: 2;
				grid-row: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@media (max-width: $g-bp2) {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;

				.c-block-image-text-background__column-text {
					grid-column: 1;
					grid-row: 2;
				}
			}
		}

		.c-block-image-text-background__image-wrapper {
			position: absolute;
			inset: 0 50% 0 0;

			img {
				max-width: 100%;
				height: 100%;
				object-fit: contain;
				margin: 0 !important;
			}

			@media (max-width: $g-bp2) {
				position: relative;
				inset: 0;

				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					margin: 0 0 $g-spacer-unit * 2 0 !important;
					position: relative;
					right: unset;
				}
			}
		}
	}

	&.c-block-image-text-background--right-screen {
		position: static;

		@media (max-width: $g-bp2) {
			display: flex;
			flex-direction: column-reverse;
		}

		.c-block-image-text-background__page-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.c-block-image-text-background__column-text {
				grid-column: 1;
				grid-row: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@media (max-width: $g-bp2) {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;

				.c-block-image-text-background__column-text {
					grid-column: 1;
					grid-row: 2;
				}
			}
		}

		.c-block-image-text-background__image-wrapper {
			position: absolute;
			inset: 0 0 0 50%;

			img {
				max-width: 100%;
				height: 100%;
				object-fit: contain;
				margin: 0 !important;
				position: absolute;
				right: 0;
			}

			@media (max-width: $g-bp2) {
				position: relative;
				inset: 0;

				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					margin: 0 0 $g-spacer-unit * 2 0 !important;
					position: relative;
					right: unset;
				}
			}
		}
	}

	&.c-block-image-text-background--left-inside-page {
		.c-block-image-text-background__page-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.c-block-image-text-background__column-text {
				grid-column: 2;
				grid-row: 1;
				display: flex;
				flex-wrap: nowrap;
				flex-direction: column;
				justify-content: center;
			}

			.c-block-image-text-background__column-image {
				grid-column: 1;
				grid-row: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@media (max-width: $g-bp2) {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;

				.c-block-image-text-background__column-text {
					grid-column: 1;
					grid-row: 2;
				}

				.c-block-image-text-background__column-image {
					grid-column: 1;
					grid-row: 1;
				}
			}
		}
	}

	&.c-block-image-text-background--right-inside-page {
		.c-block-image-text-background__page-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.c-block-image-text-background__column-text {
				grid-column: 1;
				grid-row: 1;
				display: flex;
				flex-wrap: nowrap;
				flex-direction: column;
				justify-content: center;
			}

			.c-block-image-text-background__column-image {
				grid-column: 2;
				grid-row: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@media (max-width: $g-bp2) {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;

				.c-block-image-text-background__column-text {
					grid-column: 1;
					grid-row: 2;
				}

				.c-block-image-text-background__column-image {
					grid-column: 1;
					grid-row: 1;
				}
			}
		}
	}

	.c-block-image-text-background__column-text {
		flex-direction: column;

		p {
			display: inline-block;
		}
	}
	//
	//&.c-block-image-text-background--left-screen,
	//&.c-block-image-text-background--right-screen,
	//&.c-block-image-text-background--left-inside-page,
	//&.c-block-image-text-background--right-inside-page {
	//	@media (max-width: $g-bp2) {
	//		grid-template-rows: repeat(2, auto);
	//		grid-template-columns: repeat(1, 1fr);
	//	}
	//
	//	&__page-wrapper {
	//		width: 100%;
	//		height: 100%;
	//		display: flex;
	//		align-items: flex-start;
	//		justify-content: center;
	//		flex-direction: column;
	//		padding: $g-spacer-unit * 8;
	//		z-index: 1;
	//
	//		p {
	//			padding: unset !important;
	//		}
	//	}
	//
	//	&__content,
	//	&__heading {
	//		margin-bottom: $g-spacer-unit !important;
	//	}
	//
	//	&__button {
	//		margin-top: math.div($g-spacer-unit, 2);
	//	}
	//
	//	&__image-wrapper {
	//		@media (min-width: $g-bp2) {
	//			position: absolute;
	//			inset: 0;
	//		}
	//
	//		&.c-image img {
	//			max-width: 100%;
	//			height: 100%;
	//			object-fit: contain;
	//			margin: 0 !important;
	//
	//			@media (max-width: $g-bp2) {
	//				width: 100%;
	//			}
	//		}
	//	}
	//}
}
