@use "../../styles/settings/colors" as colors;
@use "../../styles/mixins/typography" as typography;

.a-copyright-attribution {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__annotation {
		color: colors.$neutral;
		@include typography.sofia-pro-body-xs(true);
	}

	&__text {
		color: colors.$color-gray-1000;
		@include typography.sofia-pro-body-xs(true);
	}
}
