@use "../../styles/settings/colors" as colors;
@use "../../styles/mixins/typography" as typography;
@use "../../styles/settings/variables" as variables;

.a-copyright-attribution {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: variables.$g-spacer-unit * 1.5;

	&__annotation {
		color: colors.$neutral;

		@include typography.body-xs(true);
	}

	&__text {
		color: colors.$color-gray-1000;

		@include typography.body-xs(true);

		// Correctly render rich text html paragraphs inside CopyrightAttribution component
		&.c-rich-text-editor__content {
			margin: 0 !important;

			p {
				padding: 0 !important;
				margin: 0 !important;

				@include typography.body-xs(true);
			}
		}

	}
}
