@use "../../../../shared/styles/mixins/klaar" as klaar;
@use "../../../../shared/styles/settings/colors" as colors;
@use "../../../../shared/styles/settings/variables" as variables;

.klaar-header {
  @include klaar.klaar-block(#aa3ce9, #3ecf6e, #0081ff, #0081ff);

  &__date {
    text-transform: uppercase;
  }

  &__logo,
  &__date,
  &__h1,
  &__titles {
    font-family: Arial, sans-serif;
  }
}
