.c-translation-overview__edit-button {
    width: 100%;
    background-color: transparent;
    text-align: left;
    border: 0;
}

.c-translations-overview .c-table td button {
    min-height: 4.5rem;

    &:hover {
        background-color: #adadad;
    }
}
