@use "sass:math";
@use "../../../shared/styles/settings/colors" as colors;

$image-width: 20rem;

.c-upload-or-select-video-still {
  .c-upload-or-select-video-still__mode-select {
    margin-bottom: 1rem;
  }

  .c-upload-or-select-video-still__spinner {
    width: $image-width;
    height: math.div($image-width, 16) * 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
  }

  .c-upload-or-select-video-still__image {
    width: $image-width;
    height: math.div($image-width, 16) * 9;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #666;
    cursor: pointer;

    &:hover,
    &--selected {
      outline: 0.5rem solid colors.$color-primary;
    }
  }
}
