@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("@/fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  src: url("@/fonts/montserrat-italic.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  src: url("@/fonts/montserrat-bolditalic.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: url("@/fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url("@/fonts/montserrat-bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Std";
  font-weight: 600;
  src: url("@/fonts/avenir-lt-std-heavy.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Std";
  font-weight: 500;
  src: url("@/fonts/avenir-lt-std-medium.woff") format("woff");
}
