@use '../../styles/settings/colors' as colors;

/* ==========================================================================
   Utility: Color
   ========================================================================== */

.u-color-white {
  color: #fff !important;
}

.u-color-gray-150 {
  color: colors.$color-gray-150 !important;
}
