@use "../../../../shared/styles/settings/variables" as variables;

.c-block-theme-reels {
	display: flex;
	flex-direction: column;
	gap: variables.$g-spacer-unit * 9;

	&__actions{
		display: flex;
		justify-content: center;
	}
}
