@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;
@use "../../styles/mixins/typography" as typography;

// The generated visual label of a content page label
// https://meemoo.atlassian.net/browse/ARC-3818
// Figma: hetarchief.be — ontdekken, node 455:5403
.c-content-page-label-chip {
	display: inline-block;
	padding: variables.$g-spacer-unit;
	color: colors.$white;
	@include typography.sofia-pro(1.6rem, 700, 2rem);
	@include typography.truncate();
}
