@use "../../../../shared/styles/settings/variables" as variables;
@use "../../../../shared/styles/settings/colors" as colors;

.c-nudge-scroll-down-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	display: flex;
	padding-bottom: 3rem;
	align-items: end;
	justify-content: center;
	z-index: variables.$g-c-local-toolbar-z;

	.c-nudge-scroll-down-button{
		border-radius: 50%;
		animation: bounce 2s;
		animation-iteration-count: 2;
		box-shadow: 0 .3rem .3rem rgba(colors.$color-gray-500, 0.35);
	}
}

.c-nudge-scroll-down-wrapper--hidden{
	animation: disappear .5s ease-out;
	display:none;
}

@keyframes disappear {
	0% {
		display: flex;
		opacity: 1;
	}

	99% {
		display: flex;
		opacity: 0;
	}

	100% {
		display:none;
		opacity: 0;
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		margin-bottom: 0;
	}

	40% {
		margin-bottom: 2rem;
	}

	60% {
		margin-bottom: 1rem;
	}
}
