@use "../../styles/settings/variables" as variables;
@use "../../styles/settings/colors" as colors;

.c-export-all-to-csv-modal {
  .c-progress-bar {
    margin-top: variables.$g-spacer-unit;
    margin-bottom: variables.$g-spacer-unit * 4;
    background-color: colors.$color-gray-100;
    height: 2rem;

    .c-progress-bar__fill {
      background-color: colors.$color-teal-bright;
    }

    .c-progress-bar__label {
      mix-blend-mode: difference;
    }
  }

  .c-button-toolbar {
    justify-content: flex-end;
  }
}
